<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AuthView</display-name>
    <servlet-name>AuthView</servlet-name>
    <servlet-class>tn.iit.jee.view.AuthView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthView</servlet-name>
    <url-pattern>/AuthView</url-pattern>
  </servlet-mapping>
  <display-name>Authentification</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthController</display-name>
    <servlet-name>AuthController</servlet-name>
    <servlet-class>tn.iit.jee.controller.AuthController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthController</servlet-name>
    <url-pattern>/AuthController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BienvenuView</display-name>
    <servlet-name>BienvenuView</servlet-name>
    <servlet-class>tn.iit.jee.view.BienvenuView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BienvenuView</servlet-name>
    <url-pattern>/BienvenuView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionController</display-name>
    <servlet-name>InscriptionController</servlet-name>
    <servlet-class>tn.iit.jee.controller.InscriptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionController</servlet-name>
    <url-pattern>/InscriptionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionView</display-name>
    <servlet-name>InscriptionView</servlet-name>
    <servlet-class>tn.iit.jee.view.InscriptionView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionView</servlet-name>
    <url-pattern>/InscriptionView</url-pattern>
  </servlet-mapping>
</web-app>